.grid-container {
  margin: 0 auto;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
  .grid-container:before, .grid-container:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  .grid-container:after {
    clear: both; }

@media (min-width: 44em) {
  .grid-container {
    width: 90%; }

  .columns-1 {
    width: 6.25%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-1:before, .columns-1:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-1:after {
      clear: both; }

  .columns-2 {
    width: 12.5%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-2:before, .columns-2:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-2:after {
      clear: both; }

  .columns-3 {
    width: 18.75%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-3:before, .columns-3:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-3:after {
      clear: both; }

  .columns-4 {
    width: 25%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-4:before, .columns-4:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-4:after {
      clear: both; }

  .columns-5 {
    width: 31.25%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-5:before, .columns-5:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-5:after {
      clear: both; }

  .columns-6 {
    width: 37.5%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-6:before, .columns-6:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-6:after {
      clear: both; }

  .columns-7 {
    width: 43.75%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-7:before, .columns-7:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-7:after {
      clear: both; }

  .columns-8 {
    width: 50%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-8:before, .columns-8:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-8:after {
      clear: both; }

  .columns-9 {
    width: 56.25%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-9:before, .columns-9:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-9:after {
      clear: both; }

  .columns-10 {
    width: 62.5%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-10:before, .columns-10:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-10:after {
      clear: both; }

  .columns-11 {
    width: 68.75%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-11:before, .columns-11:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-11:after {
      clear: both; }

  .columns-12 {
    width: 75%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-12:before, .columns-12:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-12:after {
      clear: both; }

  .columns-13 {
    width: 81.25%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-13:before, .columns-13:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-13:after {
      clear: both; }

  .columns-14 {
    width: 87.5%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-14:before, .columns-14:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-14:after {
      clear: both; }

  .columns-15 {
    width: 93.75%;
    clear: right;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-15:before, .columns-15:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-15:after {
      clear: both; }

  .columns-16 {
    width: 100%;
    clear: right;
    float: right;
    padding-left: 1em;
    padding-right: 1em;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
    .columns-16:before, .columns-16:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    .columns-16:after {
      clear: both; } }
@media (min-width: 70em) {
  .grid-container {
    width: 85%; } }
