/**
 * Stylesheet containing typographic declarations.
 *
 * @package Flagship
 */


del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}

small {
	font-size: smaller;
}
strong {
	font-weight: bold;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

/** Headings **/
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

/** Blockquotes **/
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

/** Tables **/
caption,
th,
td {
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}